<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pet Resgate</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Login" [(ngModel)]="login" type="text" placeholder="Usuário" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input label="Senha" [(ngModel)]="password" type="password" value="password" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-button (click)="validaLogin()" fill="outline" expand="block" color="success"> Login </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>